/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 20px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 20PX;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 195px;
    border: none;
  }
  
  .openbtn:hover {
    padding: 50px;
    background-color: #b61111;
    background-color: #ffedd5;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
    
    
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  /* part 2*/

  body {
    font-family: "Lato", sans-serif;
    margin: 0px 10px;
  }
  
  .sidenav {
    margin: 58px 8px;
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* background-color: #0F766E; */
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    rotate: 10%;
    color: #9ca3af;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f9fafb;
  }
  
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .btn{
    color :'red';
    background-color :'#f1356d';
    padding :'8px';
    border-Radius: '8px';
  }